import("methods")
import("stats")
importFrom("MASS", "ginv", "mvrnorm")
import("startupmsg")
import("robustbase")
import("robust-ts")

export("ACMfilt", "ACMfilter", "arGM", "EuclideanNorm",  
       "simulateState", "simulateObs", "rcvmvnorm", "Huberize",
       "rLScalibrateB", "limitS", "rLSFilter", "rLS.IO.Filter",
       "rLS.AO.Filter", "KalmanFilter", 
       "recursiveFilter")
